* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1A1A1A;
  color: #E1E1E1;
  padding: 2rem 0;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.just-btwn {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}





